.container {
  position: relative;
  text-align: center;
}

.logoutButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f06292;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #e91e63;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
